:root{
    /* color */
    --whith-color : #fff;
    --green-color : #00ff00;
    --gray-dark-color: #909090;
    --gray-light-color: #e0e0e0;
     
    /* size */
    --side-padding: 12px;
    
    /* font-size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul{
    list-style: none;
}

#choose lang{
    display: flex;
    justify-content:space-between;
    color: var(--green-color);
    
    
}

section{
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: space-between;
    

}
